*.bak
*~
*.exe
*.o
*.a
*.depend
*.res
*.clw
*.aps
*.ncb
*.opt
*.plg
*.scc
*.WW
*.user
*.*,v
*.log
*.suo


.cvsignore
.directory

CVS
CVSROOT
duff2/Binaries
duff2/Source/Binaries
duff2/ResizableLib/Binaries
duff2/Source/ResizableLib/Binaries

